.backGround {
  font-family: sans-serif;
  background-attachment: fixed;
  background-size: cover;
  min-height: 122vh;
  padding-top: 50px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 24px;
  color: #fff;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

a {
  color: #ce6748 !important;
  font-weight: 700;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

@supports (background-clip: text) {
  a {
    background-image: linear-gradient(#e19f63, #d16a51);
    background-clip: text;
    color: transparent;
  }
}

.App {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 30px 60px;
  border-radius: 4px;
  box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%);
  backdrop-filter: blur(5px);
}

.row {
  margin-bottom: 30px;
}

.col-4.city {
  top: 0;
  margin-top: 0;
}

.col-8 .current-temp {
  left: 0;
  margin-top: 60px;
}

.showDate {
  margin-left: 0;
}

.ontime-city-temperature {
  text-align: left;
  color: #fff;
  font-size: 16px;
}

#humid-percent,
#speed,
#feel-temp,
#submit-btn {
  color: #ce6748;
}

.white-content {
  background: #e4e4e4;
}
