.currentTemp {
  font-family: "Roboto", sans-serif;
  font-size: 57px;
  font-weight: 550;
  color: #fff;
}

.currentWeatherIcon {
  margin-left: -15px;
  max-width: 85px;
}

.units {
  position: relative;
  top: -22px;
}

.fahrenheit-link a {
  color: #ce6748;
  font-weight: 900;
  text-decoration: none;
  cursor: default;
}

.celsius-link a {
  color: #ce6748;
  font-weight: 900;
  text-decoration: none;
  cursor: default;
}
