.selectedCity {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  /* margin-left: 32px; */
}

.logo {
  left: 0;
  width: 90px;
}

ul {
  margin-left: -32px;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

.showHumidity,
.showWind,
.feelingTemperature {
  opacity: 1;
}

#humid-percent,
#speed,
#feel-temp,
#submit-btn {
  color: #ce6748;
}

@supports (background-clip: text) {
  #humid-percent,
  #speed,
  #feel-temp,
  #submit-btn {
    background-image: linear-gradient(#e19f63, #d16a51);
    opacity: 1;
    background-clip: text;
    color: transparent;
  }
}

.WeatherData canvas {
  margin-right: 15px;
}
